html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.grid-wrap {
  width: min-content;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 257px;
  height: 257px;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.grid > div {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
